.a {
    height: 100vh;
    display: flex;
    align-items: center;
    background-image: url("https://cdn.wallpapersafari.com/86/59/y0673h.jpg");
    /*background-color: #A0CFEC;*/
    background-repeat:no-repeat;
    /*clip-path: polygon(45% 0, 29% 54%, 16% 100%, 0% 100%, 0 51%, 0% 0%);*/
    background-size: cover;
    /*margin-top: 10px;*/
}

.a-left {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
}

.a-right {
    flex: 1;
    justify-content: center;
    margin-right: 80px;
}

.a-card.bg {
    position: absolute;
    top: 50px;
    left: 50px;
    background-color: #333;
}

.a-card {
    width: 60%;
    height: 70vh;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
}

.a-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.a-title {
    font-family: "Times New Roman";
    font-size: 50px;
    font-weight: 300;
}

.a-sub {
    margin: 20px 0px;
}

.a-desc {
    font-weight: 300;
    font-size: 20px;
    justify-content: center;
}

.a-award {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.a-award-texts {
    width: 70%;
}

.a-award-title {
    font-weight: bold;
    color: #555;
    margin-bottom: 10px;
}

.RButton {

}

@media screen and (max-width: 480px) {
    .a {
        flex-direction: column;
        text-align: center;
        margin-top: 50px;
    }

    .a-left {
        width: 100%;
    }

    .a-card {
        height: 30vh;
        margin-top: 10px;
    }

    .a-title {
        justify-content: center;
        margin-left: 80px;
    }

    .a-desc {
        font-weight: 300;
        font-size: 15px;
        justify-content: center;
        margin-left: 80px;
    }

    .RButton {
        justify-content: center;
        margin-left: 80px;
    }

    .a-card.bg, .a-award {
        display: none;
    }

    .a-right {
        padding: 20px;
    }
}

