.pl2 {
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /*background-color: #BBD1D5;*/
}

.pl2-texts {
    width: 65%;
}

.pl2-title2 {
    font-size: 50px;
    font-weight: 600;
    font-family: SansSerif;
}

.pl2-desc {
    margin: 20px 0px;
}

.pl2-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media screen and (max-width: 480px) {
    .pl2 {
        padding: 10px;
    }

    .pl2-texts {
        width: 100%;
    }

    .pl2-desc {
        display: none;
    }
}